<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div class = "new_user">
    {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
    {% if messages %}<!-- check if there are any messages -->
    {% for message in messages %}<!-- loop through the messages -->
        <p>{{message}}</p><!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}


    <form action="/create_user" method="POST">
        <label for='fname'>First Name:</label>
            <input type='text' name='fname'>
        <label for='lname'>Last Name:</label>
            <input type='text' name='lname'>
        <label for='email'>Email:</label>
            <input type='text' name='email'>
        <label for='password'>Password:</label>
            <input type='text' name='password'>
        <label for='confirm_pw'>Confirm Password:</label>
            <input type='text' name='confirm_pw'>
        <input type='submit' value='create user'>
    </form>
</div>
<p>==============================================================</p>
    <div class="login">
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <label for="password">Password:</label>
            <input type="text" name="password" id="password">
            <input type='submit' value='login'>
        </form>
    </div>





</form>

</body>
</html>